<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-App</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
    <link rel="stylesheet" href="../styles/reset.css">

</head>
<header>
  <h1>Book App</h1>
</header>
<nav>   
    <ul>
      <li><a href='/'>Homepage</a></li>
      <li><a href=/searches/new>Search</a></li>
    </ul>
  </nav>
<body>
    <main>
     <h1>Book List </h1>

     <section>
       <% bookArr.forEach(book=>{ %>
          <div>
            <img src="<%= book.url %>" alt="">

            <h2><%= book.title %></h2>

            <h3><%= book.auther %></h3>

            <p>
              <%= book.descreption %>
            </p>
          </div>
        <% }) %>
     </section>
    </main>
</body>
</html>