<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-App</title>
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
    <link rel="stylesheet" href="../styles/reset.css">

</head>
<header>
  <h1>Book App</h1>
</header>
<body>

  <h1>My Book Collection</h1>
    <nav>
        <ul>
          <li><a href='/'>Homepage</a></li>
          <li><a href=/searches/new>Search Books</a></li>
        </ul>
      </nav>
    
</body>
</html>