
*{
    box-sizing: border-box;
}

@media (max-width:767px){
    header{
        display: flex;
        text-align: center;

    }
}
h1 {
  text-align: center;
  font-size: large;
  font-family: 'Krona One', sans-serif;
  margin-top: 60px;
  margin-bottom: 15px;
}
form input {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

div{
    display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 60%;
}